.upperLine {
  position: absolute;
  display: block;
  height: 31px;
  width: calc(100% - (166px * 2));
  left: 50%;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(78.76deg, #d8be9c -10.38%, #d8be9c 7.38%, #d8be9c 110.33%);
  top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 100%;
  transform: translateX(-50%);
}
.leftLine {
  position: absolute;
  display: block;
  width: 31px;
  height: calc(100% - (157px * 2));
  left: 0;
  top: 50%;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(78.76deg, #d8be9c -10.38%, #d8be9c 7.38%, #d8be9c 110.33%);
  border-left: 100%;
  border-right: 100%;
  border-bottom: 0;
  border-top: 0;
  transform: translateY(-50%);
}
.rightLine {
  position: absolute;
  display: block;
  width: 31px;
  height: calc(100% - (157px * 2));
  right: 0;
  top: 50%;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(78.76deg, #d8be9c -10.38%, #d8be9c 7.38%, #d8be9c 110.33%);
  border-left: 100%;
  border-right: 100%;
  border-bottom: 0;
  border-top: 0;
  transform: translateY(-50%);
}
.bottomLine {
  position: absolute;
  display: block;
  height: 31px;
  width: calc(100% - (166px * 2));
  left: 50%;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(78.76deg, #d8be9c -10.38%, #d8be9c 7.38%, #d8be9c 110.33%);
  bottom: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 100%;
  transform: translateX(-50%);
}
.topLeft,
.topRight,
.bottomLeft,
.bottomRight {
  position: absolute;
}
.topLeft {
  bottom: 0;
  left: 0;
}
.topRight {
  bottom: 0;
  right: 0;
  transform: scaleX(-1);
}
.bottomLeft {
  top: 0;
  left: 0;
  transform: scaleY(-1);
}
.bottomRight {
  top: 0;
  right: 0;
  transform: scaleY(-1) scaleX(-1);
}

@media (max-width: 768px) {
  // .topLeft {
  //   bottom: 0;
  //   left: 0;
  // }
  // .topRight {
  //   bottom: 0;
  //   right: 0;
  //   transform: scaleX(-1);
  // }
  // .bottomLeft {
  //   top: 0;
  //   left: 0;
  //   transform: scaleY(-1);
  // }
  // .bottomRight {
  //   top: 0;
  //   right: 0;
  //   transform: scaleY(-1) scaleX(-1);
  // }
}
.upperLine {
  height: calc(31px * 0.25);
  width: calc(100% - (165px * 0.25 * 2));
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(78.76deg, #d8be9c -10.38%, #d8be9c -10.38%);
  border-inline: none;
  top: 0.5rem;
}
.leftLine {
  width: calc(31px * 0.25);
  height: calc(100% - 157px * 0.25 * 2);
  left: 0.5rem;
  top: 50%;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(78.76deg, #d8be9c -10.38%, #d8be9c -10.38%);
  border-left: 100%;
  border-right: 100%;
  border-bottom: 0;
  border-top: 0;
  transform: translateY(-50%);
}
.rightLine {
  position: absolute;
  display: block;
  width: calc(31px * 0.25);
  height: calc(100% - 157px * 0.25 * 2);
  right: 0.5rem;
  top: 50%;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(78.76deg, #d8be9c -10.38%, #d8be9c -10.38%);
  border-left: 100%;
  border-right: 100%;
  border-bottom: 0;
  border-top: 0;
  transform: translateY(-50%);
}
.bottomLine {
  height: calc(31px * 0.25);
  width: calc(100% - (165px * 0.25 * 2));
  left: 50%;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(78.76deg, #d8be9c -10.38%, #d8be9c -10.38%);
  bottom: 0.5rem;
  border-inline: 0;
}
// }
