.wrapper {
  //   background-color: aliceblue;
  width: 100vw;
  min-height: 100vh;
  background-image: url('/images/paper-texture-mb.png');
  padding: 24px 0 100px 0;
}
.header {
  max-height: 1000px;
  min-height: 100vh;
  width: 100vw;

  // justify-content: space-between;

  background-image: url('/images/paper-texture-mb.png');
  // background-image: url('/images/bg.png');
  // background-size: cover;
  background-repeat: no-repeat;
  // background-position: center center;
  img {
    width: 100%;
  }
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
}
.invitation {
  min-height: 100vh;
  max-height: 1000px;
}
@media (max-width: 768px) {
}
// .header,
.invitation,
.location {
  width: 100vw;
  max-height: 800px;
}
@media (min-width: 768px) {
  .location {
    padding-top: 140px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .header {
  //   background-image: url('/images/background.png');
  //   width: 100vw;
  //   // background-attachment: fixed;
  //   // background-position: center;
  //   background-position: left center;
  //   background-repeat: repeat-x;
  // }
}
.shake {
  animation: tilt-n-move-shaking 1s 2s infinite;
}
@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(4deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-4deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
